body {
  margin: 0;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  background-color: beige ;

  /* background: linear-gradient(
    to left,
    rgb(163, 163, 47),  
    beige,
    rgb(163, 163, 47) 
  );*/
}

.title {
  color:darkgreen;
}

.titleCard {
  color: green;
}